<%= form_for(antibiogram) do |f| %>
  <% if antibiogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(antibiogram.errors.count, "error") %> prohibited this antibiogram from being saved:</h2>

      <ul>
      <% antibiogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
