<p id="notice"><%= notice %></p>

<p>
	<strong>AntiBiogram:</strong>
	<%= @antibiogram.name %>
</p>

<%= link_to 'Edit', edit_antibiogram_path(@antibiogram) %> |
<%= link_to 'Back', antibiograms_path %>
